body {
	background-color: black;
}

h1 {
	color:white;
}

p {
	color: white;
}

#metaInfo button {
	color:white;
}

#metaInfo #dark {
	display: none;
}

a:hover {
	opacity:0.5;
}